$primary-color: #afc67b;
$white-color: #fff;
$transparent-primary-color: #afc67b7a;
$black-color: #212121;

$background-color: #212121;
$icon-background-color: #e7e7e7;


@mixin sm {
    @media(min-width: 411px) {
      @content;
    }
  }
  @mixin md {
    @media(min-width: 768px) {
      @content;
    }
  }
  @mixin ipad {
    @media(min-width: 1024px) {
      @content;
    }
  }
  @mixin lg {
    @media(min-width: 1200px) {
      @content;
    }
  }
  @mixin xl {
    @media(max-width: 1201px) {
      @content;
    }
  }